{#{% extends 'shared/_MainLayout.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{##}
{##}
{#    <html lang="en">#}
{##}
{#    <body>#}
{#    <form method="post" action="{% url 'add_announcement' %}" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="city" placeholder="شهر" maxlength="50" required><br><br>#}
{##}
{#        <input type="file" name="image" placeholder="بارگذاری عکس" required><br><br>#}
{#        <input type="number" name="price" placeholder="قیمت" required><br><br>#}
{#        <input type="text" name="title" placeholder="عنوان آگهی" required><br><br>#}
{#        <input type="text" name="description" placeholder="توضیح آگهی" required><br><br>#}
{##}
{#        <input type="submit" value="OK">#}
{#    </form>#}
{#    </body>#}
{#    </html>#}
{##}
{##}
{#{% endblock %}#}


{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}


    <html lang="en">

    <body>
    <form method="post" action="{% url 'add-announcement' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="city" placeholder="شهر" maxlength="50" required><br><br>

        <input type="file" name="image" placeholder="بارگذاری عکس" required><br><br>
        <input type="number" name="price" placeholder="قیمت" required><br><br>
        <input type="tell" name="mobile" placeholder="موبایل" pattern="[0-9]{4}[0-9]{3}[0-9]{4}" required><br><br>
        <input type="text" name="title" placeholder="عنوان آگهی" required><br><br>
        <input type="text" name="description" placeholder="توضیح آگهی" required><br><br>

        <input type="submit" value="OK">
    </form>
    </body>
    </html>


{% endblock %}